<app-menu></app-menu>
<app-cabecera></app-cabecera>


<div class="contenedor">


  <div class="info">

    <section>
      <div class="form-box">
        <div class="form-value">
          <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">

            <div class="contenedor-titulo">
              <br>
              <h2>Registrar Ingreso</h2>
              <br>
            </div>

            <div class="inputbox" [class.ng-invalid]="placa.invalid && (placa.dirty || placa.touched)">
              <i class="fas fa-car"></i>
              <input type="text" [(ngModel)]="vehiculo.placa" name="placa" required #placa="ngModel" [matAutocomplete]="auto">

              <label for="">Placa</label>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">

                <mat-option *ngFor="let option of placas" [value]="option.placa">{{option.placa}}</mat-option>
              </mat-autocomplete>
            </div>

            <div class="inputbox" [class.ng-invalid]="tipoVehiculo.invalid && (tipoVehiculo.dirty || tipoVehiculo.touched)">
              <i class="fas fa-car-side"></i>
              <label for="">Tipo de Vehículo</label>
              <mat-select class="mat-select-style my-custom-mat-select" [(ngModel)]="vehiculo.tipoVehiculo" name="tipoVehiculo" required #tipoVehiculo="ngModel" (selectionChange)="onTipoVehiculoChange($event.value)" [disabled]="vehicleSelected">
                <mat-option *ngFor="let option of tiposVehiculo" [value]="option">{{option}}</mat-option>
              </mat-select>
            </div>


            <div class="inputbox" [class.ng-invalid]="costoTarifa.invalid && (costoTarifa.dirty || costoTarifa.touched)">
              <i class="fas fa-dollar-sign"></i>
              <input type="text" [(ngModel)]="tarifa.costoTarifa" name="costoTarifa" required #costoTarifa="ngModel" disabled>
              <label for="">Tarifa</label>
            </div>

            <div class="inputbox">
              <i class="fas fa-map-marker-alt"></i>
              <label for="">Lugar</label>
              <mat-select class="mat-select-style my-custom-mat-select" [(ngModel)]="selectedLugarId" name="selectedLugarId" required (selectionChange)="onLugarChange($event.value)">
                <mat-option *ngFor="let option of lugares" [value]="option.lugarId" [disabled]="option.tipoVehiculo != vehiculo.tipoVehiculo || option.estado != 'A'">
                  Piso: {{option.piso}} - Lugar: {{option.numeroLugar}}
                </mat-option>
              </mat-select>
            </div>


            <div class="inputbox">
              <i class="fas fa-calendar-alt"></i>
              <input type="text" [(ngModel)]="fechaActual" name="fechaActual" disabled>
              <label for="">Fecha Actual</label>
            </div>

            <div class="inputbox">
              <i class="fas fa-clock"></i>
              <input type="text" [(ngModel)]="horaActual" name="horaActual" disabled>
              <label for="">Hora Actual</label>
            </div>

            <div class="inputbox">
              <i class="fas fa-user"></i>
              <input type="text" [(ngModel)]="usuarioSt" name="usuario" disabled>
              <label for="">Usuario</label>
            </div>




            <button mat-raised-button color="primary" class="full-width-button" type="submit"
[disabled]="!registerForm.valid || !vehiculo.placa || !vehiculo.tipoVehiculo || !tarifa.costoTarifa || !selectedLugarId || !fechaActual || !horaActual || !usuario">Registrar</button>


          </form>
        </div>
      </div>
    </section>



  </div>

  <div class="contenedor-derecho">
    <app-info-lugar></app-info-lugar>
  </div>
</div>


