<div class="espacio">_</div>

<app-cabecera></app-cabecera>

<!-- <div class="page-container">
  <div class="login-container">
    <mat-card-content>
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>Usuario</mat-label>
          <input matInput type="text" [(ngModel)]="model.username" name="username" required>
        </mat-form-field>

        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password" name="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>

        <mat-card-actions>
          <button mat-raised-button color="primary" class="full-width-button" [disabled]="!loginForm.form.valid" type="submit">Ingresar</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </div>
</div> -->

<section>
  <div class="form-box">
    <div class="form-value">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
        <h2>Iniciar Sesion</h2>
        <div class="inputbox">
          <i class="fas fa-user"></i>
          <input type="text" [(ngModel)]="model.username" name="username" required>
          <label for="">Usuario</label>
        </div>
        <div class="inputbox">
          <i class="fas fa-lock"></i>
          <input [type]="hide ? 'password' : 'text'" [(ngModel)]="model.password" name="password" required>
          <label for="">Contraseña</label>
        </div>
        <button mat-raised-button color="primary" class="full-width-button" type="submit">Ingresar</button>
      </form>
    </div>
  </div>
</section>



