<div class="container">
  <mat-card class="header-card">
    <div class="header-content">
    <mat-card-header>

        <img mat-card-avatar src="assets/logo.png" alt="Logo">
        <mat-card-title>Nombre de la empresa</mat-card-title>
        <mat-card-subtitle>RUC: RUC de la empresa</mat-card-subtitle>

    </mat-card-header>
   </div>
    <mat-card-content>
      <p><b>Dirección:</b> Dirección de la empresa <b>Teléfono:</b> Número de la empresa</p>
    </mat-card-content>
  </mat-card>
</div>
